.doouglas{
    height: 150px;
}

#txtBusca {
    width: 800px;
    Height: 55px;
    border-radius: 100px;
    font-size: 20px;
    margin-top: 15px;
    padding-left: 15px;
}

.centro1{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divBusca{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btnBusca {
    margin-top: 15px;
}

.centro2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.showResponse {
    text-align: left;
    padding: 1rem;
    max-width: 50%;
    /* background-color: #0f9d58; */
    background-color: #fefefe;
    box-shadow: 0px 0px 3px #4285f4;
    margin-top: 1rem;
}

.urlLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
}

.titleLink {
    font-size: 20px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.contentSpan {
    font-size: 14px;
    color: black;
}

.bang{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.bang p {
    color:#0f9d58 ;
}

.bang p:hover{
    cursor: pointer;
    color:#0d7e47 ;
}